@{
    ViewData["Title"] = "BeSpoked Bikes";
}
 

<div class="text-center">
            <div>
            <img src="images/BeSpokedBikes.jpg" alt="" />
        </div>
    <h1 class="display-4">BeSpoked Bikes</h1>
</div>
